@mixin imagen-bot() {
    height: 200px;
    object-fit: cover;
    opacity: 1;
    top: 49px; 
    z-index: 1;
}


@mixin imagen-top() {
    top: 49px; 
    position: absolute;
    z-index: 2;
    height: 200px;
    object-fit: cover;
}

@mixin header-card($colorfondo) {
    background-color: $colorfondo;
    color: white;
    font-family: 'Permanent Marker', cursive;

}

@mixin body-card($colorfondo) {
    background-color: $colorfondo;
    margin: 0;
    color: white;
    font-family: $fuente2;
    border-radius: 0px 0px 5px 5px;
    border: grey 1px solid;
}

@mixin title-card($colorprecio) {
    border: 1px solid  $colorprecio;
    border-radius: 10px 50px;
    padding: 5px 20px;
    align-self: center;
    color: white;
    background-color: $colorprecio;
}